root = true

[*]
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length=120
indent_size = 4
indent_style = space
end_of_line = lf

[*.cs]
resharper_csharp_place_expr_method_on_single_line = never

[*.fs]
max_line_length=140
fsharp_space_before_colon=true
fsharp_max_value_binding_width=120
fsharp_max_infix_operator_expression=100
# fsharp_multi_line_lambda_closing_newline=true
# fsharp_newline_between_type_definition_and_members=true
fsharp_bar_before_discriminated_union_declaration=false
# fsharp_multiline_block_brackets_on_same_column=true

# Terraform files
[*.tf]
indent_size = 2

[*.json]
indent_size = 2

[*.yml]
indent_size = 2

[*.csproj]
indent_size = 2

[*.avsc]
indent_size = 2
